.section__accidents {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.padding__first {
  padding: 0 30px 0 30px;
}

.title-1 {
  opacity: 70%;
}
.title-1::before {
  content: '';
  position: absolute;
  width: 100vw;
  right: 0;
  top: 20px;
  height: 1px;
  background: linear-gradient(135deg, #84b403 0, rgba(250, 248, 248, 01) 100%);
}

.title-2::before {
  content: '';
  position: absolute;
  width: 100vw;
  left: 0;
  top: 86px;
  height: 1px;
  background: linear-gradient(239deg, #84b403 0, rgba(250, 248, 248, 01) 100%);
}

.heading {
  color: #4e0003;
  font-size: 40px;
  margin-bottom: 46px;
}

.text {
  font-size: 20px;
}

.image__container {
  width: 100%;
  margin-bottom: 20px;
}

.bellow__text {
  color: #84b403;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 115px;
}

.image__size {
  width: 100%;
  height: auto;
}

// .container__box {
//   max-width: 1420px;
//   margin: auto;
// }

.box__number {
  font-weight: bold;
  font-size: 100px;
  margin-top: 60px;
  line-height: 0.9;
  color: #84b403;
}

.box__text {
  font-size: 20px;
}

.background__color {
  background-color: #4e0003;
}

.header__box {
  font-size: 35px;
  color: white;
  margin-bottom: 46px;
}

.header__box--three {
  font-size: 35px;
  color: white;
}

.padding {
  padding: 32px 32px 32px 32px;
}

.padding__three {
  padding: 10px 36px 10px 32px;
}

.description__box {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.description__box--three {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 30px;
  color: white;
}

.margin__top {
  margin-top: 46px;
}

.gap__third--box {
  margin-top: 35px;
  margin-bottom: 35px;
}

@media (max-width: 62rem) {
  .title-2::before {
    display: none;
  }
}

@media (max-width: 75em) {
  .header__box--three {
    padding-left: 0;
  }

  .description__box--three {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 75em) {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .template__columns {
    grid-column-start: 1;
    margin-bottom: -92px;
  }

  .margin__bottom--second {
    margin-bottom: 62px;
  }

  .margin__bottom--four {
    margin-bottom: 60px;
  }

  .template__column {
    grid-column-start: 2;
  }

  .width__box--100 {
    width: 100%;
  }

  .width__box--50 {
    width: 50%;
  }

  .width__box--45 {
    width: 40%;
  }

  .width__box--55 {
    width: 60%;
  }
  .width__box--70 {
    width: 60%;
  }

  .width__box--30 {
    width: 40%;
  }

  .description__box {
    margin-left: 20px;
  }
  .margin__left {
    margin-left: 40px;
  }
  .margin__top {
    margin-top: 46px;
  }
  .margin__bottom {
    margin-bottom: 155px;
  }
}

@media only screen and (min-width: 48em) and (max-width: 75em) {
  .margin__bottom--second {
    margin-bottom: 230px;
  }
}

@media only screen and (min-width: 62em) and (max-width: 75em) {
  .margin__bottom--four {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 48em) and (max-width: 62em) {
  .margin__bottom--second {
    margin-bottom: 404px;
  }
  .margin__bottom--four {
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 36em) and (max-width: 48em) {
  .margin__bottom--second {
    margin-bottom: 221px;
  }
  .margin__bottom--four {
    margin-bottom: 60px;
  }
}

@media (max-width: 36em) {
  .gap__first--box {
    margin-bottom: 35px;
  }
  .gap__fourth--box {
    margin-bottom: 35px;
  }
}

@media (max-width: 25em) {
  .position__box {
    position: absolute;
    bottom: 0;
  }

  .image__container {
    width: 50%;
  }

  .heading {
    font-size: 30px;
  }

  .header__box {
    margin-bottom: 0;
  }
  .bellow__text {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 80px;
  }
  .bellow__text--edit {
    font-size: 50px;
  }

  .header__box--three {
    padding-left: 0;
  }

  .description__box--three {
    padding-left: 0;
    padding-right: 0;
  }
}
