@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;500;900&display=swap');
$primary: #4e0003;
$secondary: #84b403;
$font-size: 'font-size: 100px';

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
@import '/sass/car.scss';
